!!! 5
%html{lang: 'zh-CN'}
  %head
    %title 对不起，您访问的网页不存在
    = haml :head_part
  %body
    .error#wrapper
      = haml :header
      #container
        .head
          %i.far.fa-face-grin-squint-tears
          %span= "ERROR #{status_num}"
        %div
          %br/
          %hr/
          %br/
          %i.fas.fa-circle-info.fa-3x
          %br/
          %br/
          %code#error_info{style: 'font-size: 18px;'}= error_info
      = haml :footer