#bottom
  %div
    %span
      %a{rel: 'license', href: 'https://creativecommons.org/licenses/by-nc-sa/3.0/cn/'}
        %i.fa-brands.fa-creative-commons.fa-lg
        %i.fa-brands.fa-creative-commons-by.fa-lg
        %i.fa-brands.fa-creative-commons-nc.fa-lg
        %i.fa-brands.fa-creative-commons-sa.fa-lg
    %span!= '&nbsp;'
    %span
      %a{href: "/index/ip/#{request.ip}"}
        %i.fas.fa-location-dot.fa-lg
        = '(IP:' << request.ip << ')'
    %span!= '&nbsp;'
    %span
      %i.fas.fa-clock.fa-lg
      = Time.now.to_s
    %span!= '&nbsp;'
    %span
      %a{href: 'https://github.com/JunkMiner', title: 'GitHub'}
        %i.fa-brands.fa-github.fa-lg
      %a{href: '/rss', title: 'RSS'}
        %i.fas.fa-square-rss.fa-lg
    %span!= '&nbsp;'
    %span
      %i.far.fa-copyright.fa-lg
      %span 小铭
      %span= '2021-' << Time.now.year.to_s
    %span!= '&nbsp;'
    %span
      %a{href: 'https://beian.miit.gov.cn', target: '_blank'} 粤ICP备2021178470号-1
    %span!= '&nbsp;'
    %span
      %a{href: 'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44170202000315', target: '_blank'}
        %img{src: '/index/static_files/icons/beian.png', style: 'vertical-align: sub;'}
        粤公网安备 44170202000315号
%script{type: 'text/javascript', src: '/index/static_files/js/main.js'}