!!! 5
%html{lang: 'zh-CN'}
  - File.open("markdown/public/#{num}.md") do |f|
    - title = f.gets
    - title = title.split('# ')[1]
    %head
      %title= title
      = haml :head_part
    %body
      .mdtemp#wrapper
        = haml :header
        #container
          - f.rewind
          %div= "#{markdown(f.read).gsub(/-{3,}|```\w+/, '')}..."
          -#Modified from wymcloud.cn
          .licensing-box
            .licensing-title
              %p=title
              %p
                %a{href: 'https://zjm.gd.cn' << request.path.split('?')[0].split('#')[0]}= 'https://zjm.gd.cn' << request.path.split('?')[0].split('#')[0]
            %div
              .level-item
                %div
                  %h6 发布于
                  %p.level-time= f.birthtime
              .level-item
                %div
                  %h6 更新于
                  %p.level-time= f.mtime
              .level-item
                %div
                  %h6 许可协议
                  %p
                    %a{target: '_blank', title: 'CC BY-NC-SA 3.0 CN', href: 'https://creativecommons.org/licenses/by-nc-sa/3.0/cn/'}
                      %i.fa-lg.fab.fa-creative-commons
                      %i.fa-lg.fab.fa-creative-commons-by
                      %i.fa-lg.fab.fa-creative-commons-nc
                      %i.fa-lg.fab.fa-creative-commons-sa
            .licensing-after#la-1!= '&#xf25e;&#xf4e7;&#xf4e8;&#xf4ef;'
            .licensing-after#la-2!= '&#xf25e;'
          -#Modified from wymcloud.cn
        = haml :footer