%rss{version: '2.0'}
  %channel
    %title 狗鸭笔记
    %link https://zjm.gd.cn
    %description 狗鸭笔记
    - 3.times do |i|
      %item
        %title= i
        %link= "https://zjm.gd.cn/notes/#{i}"
        %description= ""
        %pubDate= Time.now.to_s
        %lastBuildDate= Time.now.to_s